body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
}

.inputGroup {
    display: flex;
    width: 400px;
    height: 55px;
    /* padding: 10px; */
    margin: auto;

    border-color: #A3A3A3;
    border-radius: 10px;
    border-style: solid;

}

.inputGroup input {
    display: inline-block;
    width: 75%;

    height: 20px;
    padding: 10px;
    
    border-style: none;
    font-size: large;

    margin: 8px;
    /* margin-top: 8px; */
    
}
.inputGroup input :active {
    border-color: red;
}

.inputGroup button {
    display: inline-block;
    width: 15%;
    height: 30px;
    background-color: transparent;
    border: none;

    margin: 5px;
    margin-top: 10px;

}

.inputGroup button :active {
    fill: #3083FF;
}


#data-container {
    display: flex;
    width: 1100px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;

    /* border: solid; */
    
    flex-wrap: wrap;
    justify-content: space-between;
}

.data {
    margin-top: 30px;
    width: 300px;
    height: 100px;

    background-color: #F4F4F4;
    padding: 20px;

    border-style: solid;
    border-radius: 10px;
    border-color: #D8D8D8;

}

.data h5 {
    margin-top: 0px;
    margin-bottom: 0px;

    font-size: large;
}

.data p {
    margin-top: 10px;
}

.link-container {
    display: block;
    position: relative;

    bottom: -14px;

    /* margin-top: auto;
    margin-bottom: 10px; */
}

