.wrapper{
    position:relative;
    background-color: rgb(139, 139, 139);
    margin:auto;
    width: 500px;
    height: 580px;
}
.flying-box{
    position: absolute;
    background-color: rgb(35, 56, 131);
    transform:translateX(-35px);
    left: 42%;
    top: 250px;
}
p {
    color: aliceblue;
    margin-right: 30px;
    margin-left: 30px;
}
