body {
    background-color: #F2F5F8;
    font-family: 'Roboto', sans-serif;

}

.color1 {
    color: #354a77;
}

.color2 {
    color: #B6996A;
}

.header {
    margin: auto;
    margin-top: 60px;
    text-align: center;

}
.title {
    font-weight: 600;
    margin-bottom: 10px;
}

.line {
    width: 60px;
    border-width: 2px;
    border-style: solid;
}

.btn-container {
    display: flex;
    width: 400px;
    justify-content: space-around;
    margin: auto;
    margin-top: 30px;

}

.cate-btn {
    height: 30px;

}

.content-wrapper {
    width: calc(100% - 10rem);
    /* background-color: aqua; */
    margin: auto;
    margin-top: 2rem;

    display: flex;
    flex-wrap: wrap;
    
}

.content {
    display: inline-block;

    margin-top: 30px;

}

.border-gradient {
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to bottom, #B6996A, #4b3d26) border-box;
    border-radius: 8px;
    border: 2px solid transparent;
}

.image {
    display: inline-block;
    height: 200px;

    object-fit: cover;
    background-color: #373A3E;
    
    border-style: solid;
    border-radius: 10px;
    border-width: 4px;
    border-color: #b4802c;
}

.info {
    display: inline-block;
    /* width: calc(100% - 20rem); */
}


.titleAndprice-Container {
    display: flex;
    justify-content: space-between;
    height: 25px;

    
    /* background-color: aqua; */
    border-color: transparent;
    border-bottom: #5f626a;
    border-width: 1px;
    border-style: solid;
}

.product-title {
    display: inline;
    margin-top: 0px;    
    
    font-weight: 600;
    font-size: medium;


}

.price {
    display: inline;

}

.text {
    font-weight: 400;
    font-size: small;
    line-height: 1.5rem;
}


@media only screen and (min-width: 680px) {
    .content-wrapper {
        justify-content: space-between;
        align-items: flex-start;
    }

    .content {
        width: 45%;
        justify-content: space-around;
        
        display: flex;
        align-items: flex-start;
    }
    
    .image {
        width: 40%;
    }
    
    .info {
        width: 50%;

        margin-left: 4%;


    }


}

@media screen and (min-width: 680px) and (max-width: 1100px) {
    .content {
        width: 100%;

    }
}

@media only screen and (max-width: 680px) {


    .content {
        width: 100%;
    }

    .image {
        width: 99%;
    }

    .info {
        width: 100%;
        margin-top: 10px;
    }

    .title-price  {
        width: 100%;
        /* margin: auto; */
    }
    
}
