body{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.row-wrapper{
    background-color: rgb(201, 187, 187);
    display: flex;
    flex-direction: row;
    width: 800px;
}
.column-wrapper{
    flex-direction: column;
    width: 200px;
}
.box{
    display: flex;
    justify-content: center;
    background-color: rgb(89, 160, 210);
    border-radius: 5px;
    height: 30px;
    margin: 10px;
}